@import 'tailwindcss';

@theme {
  --animate-fade-in: fadeIn 300ms ease-out forwards;
  --animate-slide-in: slideIn 300ms ease-out forwards;

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(2rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}
